/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

/* 顶部容器样式 */
.top-container {
    display: flex;
    justify-content: space-between; /* 水平方向分布 */
    align-items: center; /* 垂直方向居中对齐 */
    padding: 10px 0; /* 添加上下内边距 */
    width: 100%;
}

/* 总字数显示样式 */
.total-word-count {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5; /* 确保文字垂直居中 */
}

/* 按钮容器样式 */
.button-container {
    display: flex;
    align-items: center; /* 垂直方向居中对齐 */
    gap: 10px; /* 按钮之间的间距 */
}

/* 年份选择器样式 */
.year-select {
    display: none; /* 默认隐藏 */
}

/* 累加模式选择器样式 */
.cumulative-mode-select {
    /* 可根据需要添加样式 */
}

/* 区间选择器样式 */
.chart-mode-select {
    /* 可根据需要添加样式 */
}

/* 刷新按钮样式 */
.refresh-button {
  padding: 5px;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center; /* 确保图标垂直居中 */
}

.button-container select {
    font-size: 14px;
    line-height: 1.5;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* 可根据需要调整宽度 */
    height: 100%; /* 可根据需要调整高度 */
    margin: 0 auto; /* 水平居中 */
}

.is-hidden {
  display: none !important;
}

.is-shown {
  display: block !important;
}
