/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

/* 顶部容器样式 */
.top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* 总字数显示样式 */
.total-word-count {
    font-size: 14px;
    font-weight: bold;
}

/* 按钮容器样式 */
.button-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* 年份选择器样式 */
.year-select {
    display: none; /* 默认隐藏 */
}

/* 累加模式选择器样式 */
.cumulative-mode-select {
    /* 可根据需要添加样式 */
}

/* 区间选择器样式 */
.chart-mode-select {
    /* 可根据需要添加样式 */
}

/* 刷新按钮样式 */
.refresh-button {
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* 可根据需要调整宽度 */
    height: 100%; /* 可根据需要调整高度 */
    margin: 0 auto; /* 水平居中 */
}
